@model ProjectExpenseControl.Models.Budget

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BUD_IDE_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUD_IDE_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUD_IDE_ACCOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUD_IDE_ACCOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUD_IDE_AREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUD_IDE_AREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUD_DES_QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUD_DES_QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUD_DES_PERIOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUD_DES_PERIOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUD_FH_CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUD_FH_CREATED)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BUD_IDE_BUDGET }) |
    @Html.ActionLink("Back to List", "Index")
</p>
