@model IEnumerable<ProjectExpenseControl.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.REQ_IDE_USER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQ_IDE_AREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQ_DES_TYPE_GASTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQ_DES_CONCEPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQ_DES_QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQ_DES_OBSERVATIONS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQ_IDE_STATUS_APROV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQ_FH_CREATED)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.REQ_IDE_USER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQ_IDE_AREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQ_DES_TYPE_GASTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQ_DES_CONCEPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQ_DES_QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQ_DES_OBSERVATIONS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQ_IDE_STATUS_APROV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQ_FH_CREATED)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.REQ_IDE_REQUEST }) |
            @Html.ActionLink("Details", "Details", new { id=item.REQ_IDE_REQUEST }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.REQ_IDE_REQUEST })
        </td>
    </tr>
}

</table>
